---
import MainLayout from "@layout/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import type { GetStaticPaths } from "astro";
import Title from "@components/shared/Title.astro";
import {Icon} from "astro-icon/components"


export const getStaticPaths = (async() => {    
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");    
    const  {results} = await resp.json() as PokemonListResponse;     
    return results.map(({name,url}) => (
        {
            params: {name},
            props: {name,url}
    }));

}) satisfies GetStaticPaths;
const { name } = Astro.params;
const {url} =Astro.props;
const id = url.toString().split("/").at(-2);
const audioSource= `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSource = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout title={`Pokemon #${id} ${name}`}
      image={imageSource}
    description={`Información del pokemon ${name}`
    
    }
>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">        
        <div class="flex flex-row">
            <div>
                <button onclick="window.history.back()" class="text-blue-500" >Regresar</button>
                <Title capitalize>{name}
                    </Title>                                
            </div>           
            <button class="ml-4" id="btn-favorite">
                <Icon name="heart-outline"  size={50}></Icon>
                <Icon class="hidden" name="heart-fill"  size={50}></Icon>
            </button>            
        </div>
        
            <PokemonCard name={name} url={url} isBig />
            <audio controls >
                <source src={audioSource} type="audio/ogg" >
                Tu navegar no soporta audio
            </audio>        
        
    </section>
    
</MainLayout>

<style>
    a {
        @apply hover:underline text-blue-500;
    }
    #btn-favorite{
        @apply hover:animate-pulse
    }
</style>
